<h2 class="page-header">Gestion de Personal</h2>
<div class="row">
    <div (click)="$event.preventDefault()">
        <tabset [justified]="true">
            <tab heading="Personal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <h3 style="text-align:center">Personal</h3>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ng2-smart-table id="dtPersonal" [settings]="settingsPer" [source]="sourcePer" (create)="showDialogPerAdd = !showDialogPerAdd;onCreatePer($event);
                setCursorPerAdd()" (edit)="showDialogPerUp = !showDialogPerUp;onPerUpdate($event);setCursorPerAdd()" (userRowSelect)="showPersonal($event)">
                    </ng2-smart-table>
                </div>
            </tab>
            <tab heading="Cargo Personal" (select)="hideDetails()">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <h3 style="text-align:center">Cargo Personal</h3>
                    <hr>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ng2-smart-table id="dtCargoPersonal" [settings]="settingsCargPer" [source]="sourceCargoPer" (create)="showDialogCargoPerAdd = !showDialogCargoPerAdd;
                onCreateCargoPer($event);setCursorCargoPerAdd()" (edit)="showDialogCargoPerUp = !showDialogCargoPerUp;onCargoPerUpdate($event);setCursorCargoPerUp()">
                    </ng2-smart-table>
                </div>
            </tab>
        </tabset>
    </div>
</div>

<!-- ADD CARGO PERSONAL -->
<app-dialog [(visible)]="showDialogCargoPerAdd" (visibleChange)="changeCargoPerAdd($event)" #dialog="dialog">
    <h3 style="text-align: center">
        Registro Cargo Personal
    </h3>
    <hr>
    <flash-messages *ngIf="flagCreateCargoPer"></flash-messages>
    <!--Descripción-->
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <label for="desCP" style="display: inline-block">Descripción:</label>
        <input type="text" [(ngModel)]="descripcionCargoPersonal" (ngModelChange)="onChangeCargPer()" id="descCargoPerAdd" name="descCargoPerAdd"
            placeholder="Descripción cargo" class="form-control">
        <br>
    </div>
    <!-- Estado  -->
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <label for="est" style="display: inline-block">Estado</label>
        <select [(ngModel)]="selectEstado" id="estadoCar" name="estadoCar" class="form-control input">
            <option *ngFor="let c of listaEstado" [ngValue]="c">{{c.estado}}</option>
        </select>
        <br>
    </div>
    <!-- Buttons -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <button class="btn btn-primary" (click)="onAddCargoPersonalSubmit()" style="width: 25%">Registrar</button>
        <button class="btn btn-default" (click)="showDialogCargoPerAdd = !showDialogCargoPerAdd" style="width: 25%">Cancelar</button>
    </div>
</app-dialog>
<!-- UPDATE CARGO PERSONAL CLIENT -->
<app-dialog [(visible)]="showDialogCargoPerUp" (visibleChange)="changeCargoPerUp($event)" #dialog1="dialog">
    <h3 style="text-align: center">
        Actualizar Tipo Producto
    </h3>
    <hr>
    <flash-messages *ngIf="flagUpdateCargoPer"></flash-messages>
    <!-- ID -->
    <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1">
        <label for="idCarg" style="display: inline-block">ID</label>
        <input type="text" [(ngModel)]="idCargoPersona" id="idCargo" name="idCargo" class="form-control" readonly>
        <br>
    </div>
    <!-- Descripción -->
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <label for="descTPC" style="display: inline-block">Descripción</label>
        <input type="text" [(ngModel)]="descripcionCargoPersonal" (ngModelChange)="onChangeCargPer()" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
        event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            id="descCargoPerAdd" name="descCargoPerAdd" placeholder="Descripción cargo" class="form-control">
        <br>
    </div>
    <!-- Estado  -->
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <label for="est" style="display: inline-block">Estado</label>
        <select [(ngModel)]="selectEstado" id="estadoCar" name="estadoCar" class="form-control input">
            <option *ngFor="let c of listaEstado" [ngValue]="c">{{c.estado}}</option>
        </select>
        <br>
    </div>
    <!-- Buttons -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <button class="btn btn-primary" (click)="onUpdateTPSubmit()" style="width: 25%">Actualizar</button>
        <button class="btn btn-default" (click)="showDialogCargoPerUp = !showDialogCargoPerUp" style="width: 25%">Cancelar</button>
    </div>

</app-dialog>
<!-- ADD PERSONAL -->
<app-dialog [(visible)]="showDialogPerAdd" (visibleChange)="changePerAdd($event)" #dialog2="dialog">
    <h3 style="text-align: center">
        Agregar Personal
    </h3>
    <hr>
    <flash-messages *ngIf="flagCreatePer"></flash-messages>
    <!-- Cedula -->
    <div class="col-lg-6 col-md-6">
        <label for="ci" style="display: inline-block">Cédula</label>
        <input type="text" [(ngModel)]="cedula" (ngModelChange)="onChange()" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            id="ci" name="ci" placeholder="Cédula" class="form-control input-sm" maxlength="10">
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- Telefono -->
        <label for="telefono">Teléfono/Celular</label>
        <input type="text" [(ngModel)]="telefono" (ngModelChange)="onChange()" id="telefono" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            name="telefono" placeholder="Teléfono" class="form-control  input-sm" maxlength="10" minlength="9">
        <br>
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- Nombres -->
        <label class="cols-sm-2 control-label" for="username">Nombres</label>
        <input type="text" [(ngModel)]="nombres" (ngModelChange)="onChange()" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
        event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            id="nombres" name="nombres" placeholder="Nombres" class="form-control  input-sm">
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- Apellidos -->
        <label class="cols-sm-2 control-label" for="apellido">Apellidos</label>
        <input type="text" [(ngModel)]="apellidos" (ngModelChange)="onChange()" id="apellidos" name="apellidos" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
        event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            placeholder="Apellidos" class="form-control  input-sm">
        <br>
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <input type="text" [(ngModel)]="email" (ngModelChange)="onChange()" id="email" name="email" placeholder="Correo" class="form-control  input-sm">
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- Sexo -->
        <label class="control-label" for="fecha">Sexo</label><br>
        <div class="radio">
            &nbsp;&nbsp;&nbsp;<label class="form-check-inline">
                <input class="form-check-input" type="radio" name="mode" [value]="1" [(ngModel)]="sexo">
            Masculino&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="mode" [value]="2" [(ngModel)]="sexo">
            Femenino
            </label>
        </div>
        <br>
    </div>
    <div class="col-lg-6 col-md-6" (click)="showCalendar()">
        <!-- Fecha de nacimiento -->
        <label for="est" style="display: inline-block">Fecha de Nacimiento</label>
        <div class="input-group col-lg-12 col-md-12">
            <input type="text" value="{{ getDate() | date:'shortDate'}}" [(ngModel)]="fechaNacimientoString" id="fecha" name="fecha"
                placeholder="MM/DD/YYYY" class="form-control  input-sm">
            <span class="input-group-addon input-sm" id="btnCalendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </div>
    </div>

    <!-- Cargo  -->
    <div class="col-lg-6 col-md-6">
        <label for="est" style="display: inline-block">Cargo</label>
        <select [(ngModel)]="selectCargoPer" id="cargoPer" name="cargoPer" class="form-control input-sm">
            <option *ngFor="let c of listaCargoPersonal" [ngValue]="c">{{c.descripcion_cargo_personal}}</option>
        </select>
        <br>
    </div>
    <div class="col-lg-6 col-md-6" *ngIf="showDatepicker">
        <!--calendar-->
        <div style="display:inline-block;text-align: center">
            <datepicker [(ngModel)]="dt" [showWeeks]="false"></datepicker>
        </div>
    </div>
    <br>
    <!-- Button -->
    <div class="form-group" style="text-align: center">
        <button class="btn btn-primary" (click)="onAddPerSubmit()" style="width: 25%">Registrar</button>
        <button class="btn btn-default" (click)="showDialogPerAdd = !showDialogPerAdd" style="width: 25%">Cancelar</button>
    </div>
</app-dialog>
<!-- UPDATE PERSONAL -->
<app-dialog [(visible)]="showDialogPerUp" (visibleChange)="changePerUp($event)" #dialog3="dialog">
    <h3 style="text-align: center">
        Actualizar Personal
    </h3>
    <hr>
    <flash-messages *ngIf="flagUpdatePer"></flash-messages>
    <!-- Cedula -->
    <div class="col-lg-6 col-md-6">
        <label for="ci" style="display: inline-block">Cédula</label>
        <input type="text" [(ngModel)]="cedula" (ngModelChange)="onChange()" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            id="ci" name="ci" placeholder="Cédula" class="form-control input-sm" maxlength="10">
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- Telefono -->
        <label for="telefono">Teléfono/Celular</label>
        <input type="text" [(ngModel)]="telefono" (ngModelChange)="onChange()" id="telefono" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
            name="telefono" placeholder="Teléfono" class="form-control  input-sm" maxlength="10" minlength="9">
        <br>
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- Nombres -->
        <label class="cols-sm-2 control-label" for="username">Nombres</label>
        <input type="text" [(ngModel)]="nombres" (ngModelChange)="onChange()" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
        event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            id="nombres" name="nombres" placeholder="Nombres" class="form-control  input-sm">
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- Apellidos -->
        <label class="cols-sm-2 control-label" for="apellido">Apellidos</label>
        <input type="text" [(ngModel)]="apellidos" (ngModelChange)="onChange()" id="apellidos" name="apellidos" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
        event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            placeholder="Apellidos" class="form-control  input-sm">
        <br>
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- E-mail -->
        <label class="control-label" for="email">E-mail</label>
        <input type="text" [(ngModel)]="email" (ngModelChange)="onChange()" id="email" name="email" placeholder="Correo" class="form-control  input-sm">
    </div>
    <div class="col-lg-6 col-md-6">
        <!-- Sexo -->
        <label class="control-label" for="fecha">Sexo</label><br>
        <div class="radio">
            &nbsp;&nbsp;&nbsp;<label class="form-check-inline">
                <input class="form-check-input" type="radio" name="mode" [value]="1" [(ngModel)]="sexo">
            Masculino&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="mode" [value]="2" [(ngModel)]="sexo">
            Femenino
            </label>
        </div>
        <br>
    </div>
    <div class="col-lg-6 col-md-6" (click)="showCalendar()">
        <!-- Fecha de nacimiento -->
        <label for="est" style="display: inline-block">Fecha de Nacimiento</label>
        <div class="input-group col-lg-12 col-md-12">
            <input type="text" [(ngModel)]="fechaNacimientoString" id="fecha" name="fecha" placeholder="DD/MM/YYYY" class="form-control  input-sm">
            <span class="input-group-addon input-sm" id="btnCalendar"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </div>
    </div>

    <!-- Cargo personal  -->
    <div class="col-lg-6 col-md-6">
        <label for="est" style="display: inline-block">Cargo</label>
        <select [(ngModel)]="selectCargoPer" id="cargoPer" name="cargoPer" class="form-control input-sm">
            <option *ngFor="let c of listaCargoPersonal" [ngValue]="c">{{c.descripcion_cargo_personal}}</option>
        </select>
        <br>
    </div>
    <div class="col-lg-6 col-md-6" *ngIf="showDatepicker">
        <!--calendar-->
        <div style="display:inline-block;text-align: center">
            <datepicker [(ngModel)]="dt" [showWeeks]="false" (click)="hideCalendar()"></datepicker>
        </div>
    </div>
    <br>
    <!-- Button -->
    <div class="form-group" style="text-align: center">
        <button class="btn btn-primary" (click)="onUpdatePerSubmit()" style="width: 25%">Actualizar</button>
        <button class="btn btn-default" (click)="showDialogPerUp = !showDialogPerUp" style="width: 25%">Cancelar</button>
    </div>
</app-dialog>


<div class="row" style="margin-left: 0px; margin-right: 0px">
    <br>
    <!-- Mostrar cliente -->
    <p-panel header="Datos de persona" *ngIf="flagUserFound">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2">
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label for="datosCliente">Datos del empleado</label>
                        <br>Nombre:&nbsp;{{showPersona.nombres}}&nbsp;{{showPersona.apellidos}}
                        <br>Cedula:&nbsp;{{showPersona.cedula}}
                        <br>Email:&nbsp;{{showPersona.email}}
                        <br>Telefono:&nbsp;{{showPersona.telefono}}
                        <br>Fecha de Nacimiento:&nbsp;{{showPersona.fecha_nacimiento}}
                        <br>Sexo:&nbsp;{{showPersona.sexo}}
                        <br>Cargo:&nbsp;{{showPersona.id_cargo}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <label for="datosCliente">Modulos Disponibles</label><br>
                        <div class="form-check" *ngFor="let tag of tags; let i = index;">
                            <md-checkbox [(ngModel)]="tag.checked" [color]="color">{{tag.name}}</md-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</div>