<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header" style="padding: 0; margin-top: 20px" (window:resize)="onResize($event)">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 0" [ngStyle]='{"text-align": textAlignTitle}'>
        <h2>Reportes</h2>
    </div>
</div>

<button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
<button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
<button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
<button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>

<p-growl [value]="msgs" sticky="sticky"></p-growl>

<p-panel header="Validate">
    <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
        <input [(ngModel)]="cardNumber" (ngModelChange)="onChange($event)" (click)="$event.target.select()" type="text" class="form-control"
            name="numero" id="numero" placeholder="Codigo unico de tarjeta" [disabled]="!flagActivateInsertCard" style="z-index: 1;">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-check" aria-hidden="true"></i></span>
        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-times" aria-hidden="true"></i></span>
    </div>
</p-panel>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Validate">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    First Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" [(ngModel)]="nombre" id="firstname" name="firstname" formControlName="firstname" placeholder="Required"
                    />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty">
                        <i class="fa fa-close"></i> Firstname is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Last Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="lastname" placeholder="Required" />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty">
                        <i class="fa fa-close"></i> Lastname is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Password *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)" />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="userform.controls['password'].errors['required']">Password is required</span>
                        <span *ngIf="userform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Description:
                </div>
                <div class="ui-grid-col-6">
                    <textarea pInputTextarea type="text" formControlName="description"></textarea>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Gender *:
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="genders" formControlName="gender" [autoWidth]="false"></p-dropdown>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty">
                        <i class="fa fa-close"></i> Gender is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Form Submitted
                <br> {{diagnostic}}
            </div>
        </div>
    </p-panel>
</form>


<h1>Default Stripe Form</h1>

<button (click)="openCheckout()">Purchase</button>