<h2 class="page-header">Ingresar</h2>
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
  <div class="panel panel-default">
    <!--<div class="panel-heading">
      <label>Credenciales de Usuario</label>
    </div>-->
    <div class="panel-body">
      <form (submit)="onLoginSubmit()">

        <div class="form-group">
          <label>Username</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" class="form-control" [(ngModel)]="username" id="username" name="username" aria-describedby="basic-addon1"
              placeholder="Nombre de usuario">
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password" aria-describedby="basic-addon2"
              placeholder="Clave de usuario">
          </div>
        </div>

        <fieldset data-role="controlgroup">
          <input type="checkbox" name="chck-rememberme" id="chck-rememberme" [(ngModel)]="chckRememberme" checked="" style="font-size: 18px">
          <label for="chck-rememberme">Recuerdame</label>
        </fieldset>

        <p class="mc-top-margin-1-5"><a (click)="showDialog()">¿No puedes acceder a tu cuenta?</a></p>

        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="text-align: center">
          <input type="submit" class="btn btn-primary btn-block" value="Login" [disabled]="false">
        </div>

      </form>
    </div>
  </div>
</div>

<app-dialog [(visible)]="display">
  <h3 style="text-align: center">
    Recuperar Contraseña
  </h3>
  <hr>
  <!--Correo-->
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <label for="desCP" style="display: inline-block">Correo Electrónico*:</label>
    <input type="text" [(ngModel)]="correoRecuperacion" (ngModelChange)="onChangeCorreo()" id="correo" name="correo" placeholder="Ingresa tu correo de recuperación"
      class="form-control" tooltip="A este correo se enviará tu clave personal." tooltipPlacement="bottom">
    <br>
  </div>
  <!-- Buttons -->
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
    <hr>
    <button class="btn btn-primary" (click)="sendEmail()" style="width: 25%" [disabled]="!flagCorreo">Enviar</button>
    <button class="btn btn-default" (click)="display = !displayd" style="width: 25%">Cancelar</button>
  </div>
</app-dialog>