<h2 class="page-header">Administracion</h2>

<div (click)="$event.preventDefault()">
  <tabset [justified]="true">
    <tab heading="Tipo Produtos">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Tipos de Productos</h3>
        <hr>
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <ng2-smart-table id="dtTP" [settings]="settingsTP" [source]="sourceTP" (create)="showDialogTPC = !showDialogTPC;onCreateTP($event);setCursorAddTP()"
          (edit)="showDialogTPU = !showDialogTPU;onUpdateTP($event);setCursorUpdateTP()">
        </ng2-smart-table>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
    </tab>
    <tab heading="Productos">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Productos</h3>
        <hr>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ng2-smart-table id="dtP" [settings]="settingsP" [source]="sourceP" (create)="showDialogPC = !showDialogPC;onCreateP($event);setCursorAddP()"
          (edit)="showDialogPU = !showDialogPU;onUpdateP($event);setCursorUpdateP()">
        </ng2-smart-table>
        <hr>
      </div>
    </tab>
    <tab heading="Promociones">
    </tab>
    <tab heading="Tarjetas">
    </tab>
  </tabset>
</div>

<!-- DIALOGS -->
<app-dialog [(visible)]="showDialogTPC" (visibleChange)="changeTPC($event)" #dialog="dialog">
  <h3 style="text-align: center">
    Registrar Tipo Producto
  </h3>
  <hr>
  <flash-messages *ngIf="flagCreateTP"></flash-messages>
  <!-- Nombre -->
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <label for="descTPC" style="display: inline-block">Nombre</label>
    <input type="text" [(ngModel)]="desc_tipo_producto" (ngModelChange)="onChange($event)" id="descTPC" name="descTPC" placeholder="Descripcion de tipo producto"
      class="form-control">
    <br>
  </div>
  <!-- Buttons -->
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
    <button class="btn btn-primary" (click)="onAddTPSubmit()" style="width: 25%">Registrar</button>
    <button class="btn btn-default" (click)="showDialogTPC = !showDialogTPC" style="width: 25%">Cancelar</button>
  </div>
</app-dialog>

<app-dialog [(visible)]="showDialogTPU" (visibleChange)="changeTPU($event)" #dialog1="dialog">
  <h3 style="text-align: center">
    Actualizar Tipo Producto
  </h3>
  <hr>
  <flash-messages *ngIf="flagUpdateTP"></flash-messages>
  <!-- ID -->
  <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1">
    <label for="idTPC" style="display: inline-block">ID</label>
    <input type="text" [(ngModel)]="id_mostar" id="idTPU" name="idTPU" class="form-control" readonly>
    <br>
  </div>
  <!-- Nombre -->
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <label for="descTPC" style="display: inline-block">Nombre</label>
    <input type="text" [(ngModel)]="desc_tipo_producto" (ngModelChange)="onChange($event)" id="descTPU" name="descTPU" placeholder="Descripcion de tipo producto"
      class="form-control">
    <br>
  </div>
  <!-- Buttons -->
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
    <button class="btn btn-primary" (click)="onUpdateTPSubmit()" style="width: 25%">Actualizar</button>
    <button class="btn btn-default" (click)="showDialogTPU = !showDialogTPU" style="width: 25%">Cancelar</button>
  </div>
</app-dialog>

<app-dialog [(visible)]="showDialogPC" (visibleChange)="changePC($event)" #dialog2="dialog">
  <h3 style="text-align: center">
    Registrar Producto
  </h3>
  <hr>
  <flash-messages *ngIf="flagCreateP"></flash-messages>
  <!-- Nombre -->
  <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <label for="nombrePC">Nombre</label>
    <input type="text" [(ngModel)]="nombre" (ngModelChange)="onChange($event)" id="nombrePC" name="nombrePC" placeholder="nombre único del producto"
      class="form-control" required>
  </div>
  <!-- Logotipo -->
  <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-12">
    <label for="filesC">Logotipo</label>
    <input #myInput type="file" placeholder="File Name" (change)="onChangeFileC($event)" id="filesC" name="filesC" class="form-control inputfile"
      accept="image/*">
  </div>
  <!-- Tipo producto -->
  <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <label for="tipoPC" style="display: inline-block">Tipo Producto</label>
    <select [(ngModel)]="selected_tipo_producto" id="tipoPC" name="tipoPC" class="form-control input">
      <option value="" disabled selected hidden>Selecciona...</option>
      <option *ngFor="let c of tipo_productos" [ngValue]="c">{{c.desc_tipo_producto}}</option>
    </select>
  </div>
  <!-- Precio Unitario -->
  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <label for="numero" style="display: inline-block">Precio Unitario</label>
    <input currencyMask type="text" [(ngModel)]="precio_unitario" id="puPC" name="puPC" class="form-control" placeholder="0.00">
  </div>
  <!-- Utilidad -->
  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <label for="utilidadPC">Utilidad</label>
    <div class="input-group">
      <span (click)="fuPorcentaje()" class="input-group-addon input-sm" id="iconPercent"><i class="fa fa-percent" aria-hidden="true"></i></span>
      <span (click)="fuMoneda()" class="input-group-addon input-sm" id="iconUsd"><i class="fa fa-usd" aria-hidden="true"></i></span>
      <input currencyMask type="text" [options]="{ prefix: ''}" [(ngModel)]="utilidad" id="utilidadPC" name="utilidadPC" placeholder="0.00"
        class="form-control">
    </div>
  </div>
  <!-- Cant. Existente -->
  <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <label for="cantPC" style="display: inline-block">Cantidad Existente</label>
    <input currencyMask type="text" [options]="{ prefix: ''}" [(ngModel)]="cant_existente" id="cantPC" name="cantPC" placeholder="0.00"
      class="form-control">
  </div>
  <!-- Subproducto -->
  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <label for="cantPC" style="display: inline-block">Subproductos</label>
    <div class="row" style="padding-top: 6px">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label class="switch">
      <input type="checkbox" [(ngModel)]="flagSubProd">
      <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <label for="tipoP" style="display: inline-block">Productos Existentes</label>
    <select [(ngModel)]="selected_producto" id="tipoP" name="tipoP" class="form-control input" [disabled]="!flagSubProd">
      <option value="" disabled selected hidden>Selecciona...</option>
      <option *ngFor="let c of productos" [ngValue]="c" >{{c.nombre}}</option>
    </select>
  </div>
  <!--Ingreso a lista subproductos-->
  <div class="form-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" *ngIf="flagSubProd">
    <label for="subPC" style="display: inline-block">Subproductos</label>
    <form class="form-inline">
      &nbsp;&nbsp;(&nbsp;unidades&nbsp;
      <input type="radio" name="radio1" [value]="1" [(ngModel)]="unidadMedidaSuproducto"> &nbsp;&nbsp;&nbsp;mililitros&nbsp;
      <input type="radio" name="radio2" [value]="2" [(ngModel)]="unidadMedidaSuproducto">&nbsp;)&nbsp;&nbsp;
      <div class="input-group spinner">
        <input [(ngModel)]="cantSubprod" type="text" class="form-control input-sm" name="cantSubprod" id="cantSubprod" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
          maxlength="6">
        <div class="input-group-btn-vertical">
          <button id="addCant" (click)="addCant()" class="btn btn-default" type="button">
            <i class="fa fa-caret-up"></i></button>
          <button id="lessCant" (click)="lessCant()" class="btn btn-default" type="button">
            <i class="fa fa-caret-down"></i></button>
        </div>
      </div>
      &nbsp;&nbsp;<i id="addIcon" class="fa fa-plus-square fa-2x" (click)="addItem()" aria-hidden="true" style="vertical-align: middle"></i>
    </form>
    <br>
    <!--<p>(Productos usados en la preparación del producto preparado)</p>-->
    <nav *ngIf="flagListaSubProd">
      <ul class="list-group" id="ulShow">
        <li class="list-group-item" *ngFor="let item of subproductoV; let i = index" [attr.data-index]="i">
          {{item.nombre}} <i class="fa fa-times" id="timesIcon" (click)="deleteItem()" aria-hidden="true"></i>
          <span class="badge">{{item.cantidad}}</span>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Buttons -->
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
    <button class="btn btn-primary" (click)="onAddPSubmit()" style="width: 25%">Registrar</button>
    <button class="btn btn-default" (click)="showDialogPC = !showDialogPC" style="width: 25%">Cancelar</button>
  </div>
</app-dialog>

<app-dialog [(visible)]="showDialogPU" (visibleChange)="changePU($event)" #dialog3="dialog">
  <h3 style="text-align: center">
    Actualizar Producto
  </h3>
  <hr>
  <flash-messages *ngIf="flagUpdateP"></flash-messages>
  <!-- Nombre -->
  <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <label for="nombrePU" style="display: inline-block">Nombre</label>
    <input type="text" [(ngModel)]="productoUpdate.nombre" (ngModelChange)="onChange($event)" id="nombrePU" name="nombrePU" placeholder="nombre único del producto"
      class="form-control">
  </div>
  <!-- Logotipo -->
  <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-12">
    <label for="filesU" style="display: inline-block">Logotipo</label>
    <ng-template #toolTipTemplate>
      <img src={{productoUpdate.path}} width="100%" />
    </ng-template>
    <a href="#" [tooltipHtml]="toolTipTemplate">
        <input #myInput1 type="file" placeholder="File Name" (change)="onChangeFileU($event)" id="filesU" name="filesU" 
        class="form-control inputfile" accept="image/*"  [ngStyle]="{'color': colorUpdate}" >
    </a>
  </div>
  <!-- Tipo producto -->
  <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <label for="tipoPU" style="display: inline-block">Tipo Producto</label>
    <select [(ngModel)]="productoUpdate.id_tipo_producto" (change)="onChangeUpdtProd($event)" id="tipoPU" name="tipoPU" class="form-control input">
      <option value="" disabled selected hidden>Selecciona...</option>
      <option *ngFor="let c of tipo_productos">{{c.desc_tipo_producto}}</option>
    </select>
  </div>
  <!-- Precio Unitario -->
  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <label for="puPU" style="display: inline-block">Precio Unitario</label>
    <input type="text" currencyMask type="text" [(ngModel)]="productoUpdate.precio_unitario" id="puPU" name="puPU" class="form-control"
      placeholder="0.00">
  </div>
  <!-- Utilidad -->
  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <label for="utilidadPU">Utilidad</label>
    <div class="input-group">
      <span (click)="fuPorcentaje()" class="input-group-addon input-sm" id="iconPercent"><i class="fa fa-percent" aria-hidden="true"></i></span>
      <span (click)="fuMoneda()" class="input-group-addon input-sm" id="iconUsd"><i class="fa fa-usd" aria-hidden="true"></i></span>
      <input type="text" currencyMask type="text" [options]="{ prefix: ''}" [(ngModel)]="productoUpdate.utilidad" id="utilidadPU"
        name="utilidadPU" placeholder="0.00" class="form-control">
    </div>
  </div>
  <!-- Cant. Existente -->
  <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <label for="cantPU" style="display: inline-block">Cantidad Existente</label>
    <input type="text" currencyMask type="text" [options]="{ prefix: ''}" [(ngModel)]="productoUpdate.cant_existente" id="cantPU"
      name="cantPU" placeholder="0.00" class="form-control">
  </div>
  <!-- Subproducto -->
  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <label style="display: inline-block">Subproductos</label>
    <div class="row" style="padding-top: 6px">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label class="switch">
      <input type="checkbox" [(ngModel)]="flagSubProdUpdate">
      <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <label for="tipoP" style="display: inline-block">Productos Existentes</label>
    <select [(ngModel)]="selected_producto" id="tipoP" name="tipoP" class="form-control input" [disabled]="!flagSubProdUpdate">
      <option value="" disabled selected hidden>Selecciona...</option>
      <option *ngFor="let c of productos" [ngValue]="c" >{{c.nombre}}</option>
    </select>
  </div>
  <!--Ingreso a lista subproductos-->
  <div class="form-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" *ngIf="flagSubProdUpdate">
    <label for="subPC" style="display: inline-block">Subproductos</label>
    <form class="form-inline">
      &nbsp;&nbsp;(&nbsp;unidades&nbsp;
      <input type="radio" name="radio1" [value]="1" [(ngModel)]="unidadMedidaSuproducto"> &nbsp;&nbsp;&nbsp;mililitros&nbsp;
      <input type="radio" name="radio2" [value]="2" [(ngModel)]="unidadMedidaSuproducto">&nbsp;)&nbsp;&nbsp;
      <div class="input-group spinner">
        <input [(ngModel)]="cantSubprod" type="text" class="form-control input-sm" name="cantSubprod" id="cantSubprod" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
          maxlength="6">
        <div class="input-group-btn-vertical">
          <button id="addCant" (click)="addCant()" class="btn btn-default" type="button">
            <i class="fa fa-caret-up"></i></button>
          <button id="lessCant" (click)="lessCant()" class="btn btn-default" type="button">
            <i class="fa fa-caret-down"></i></button>
        </div>
      </div>
      &nbsp;&nbsp;<i id="addIcon" class="fa fa-plus-square fa-2x" (click)="addItemUpdate()" aria-hidden="true" style="vertical-align: middle"></i>
    </form>
    <br>
    <!--<p>(Productos usados en la preparación del producto preparado)</p>-->
    <nav *ngIf="flagListaSubProd">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of productoUpdate.subproductoV; let i = index">
          {{item.nombre}} <i class="fa fa-times" id="timesIcon" (click)="deleteItem(i)" aria-hidden="true"></i>
          <span class="badge">{{item.cantidad}}</span>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Buttons -->
  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
    <button class="btn btn-primary" (click)="onUpdatePSubmit()" style="width: 25%">Actualizar</button>
    <button class="btn btn-default" (click)="showDialogPU = !showDialogPU" style="width: 25%">Cancelar</button>
  </div>
</app-dialog>