<h2 class="page-header">Administración</h2>
<div (click)="$event.preventDefault()">
  <tabset [justified]="true">
    <tab heading="Tipo Produtos">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Tipos Producto</h3>
        <hr>
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <ng2-smart-table id="dtTP" [settings]="settingsTP" [source]="sourceTP" (create)="showDialogTPC = !showDialogTPC;onCreateTP($event);setCursorAddTP()"
          (edit)="showDialogTPU = !showDialogTPU;onUpdateTP($event);setCursorUpdateTP()" (delete)="onDeleteTP($event)">
        </ng2-smart-table>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
    </tab>
    <tab heading="Productos">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Productos</h3>
        <hr>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ng2-smart-table id="dtP" [settings]="settingsP" [source]="sourceP" (create)="showDialogPC = !showDialogPC;onCreateP($event);setCursorAddP()"
          (edit)="showDialogPU = !showDialogPU;onUpdateP($event);setCursorUpdateP()" (delete)="onDeleteP($event)">
        </ng2-smart-table>
        <hr>
      </div>
    </tab>
    <tab heading="Kardex">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Kardex</h3>
        <hr>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--<ng2-smart-table id="dtK" [settings]="settingsK" [source]="sourceK" (create)="showDialogK = !showDialogK;setCursorAddK()"
          (edit)="showDialogKU = !showDialogKU;onUpdateK($event);setCursorUpdateK()" (delete)="onDeleteK($event)">
        </ng2-smart-table>-->
        <hr>
      </div>
    </tab>
    <tab heading="Promociones">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Promociones</h3>
        <hr>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ng2-smart-table id="dtPro" [settings]="settingsPro" [source]="sourcePro" (create)="showDialogPro = true;setCursorAddPro()"
          (edit)="showDialogProU = true;onUpdatePro($event);setCursorUpdatePro()" (delete)="onDeletePro($event)">
        </ng2-smart-table>
        <hr>
      </div>
    </tab>
  </tabset>
</div>

<!-- Add TP -->
<p-dialog [(visible)]="showDialogTPC" modal="modal" width="500" [responsive]="true">
  <p-header>
    Registrar Tipo Producto
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label for="descTPC" style="display: inline-block">Nombre*:</label>
      <input type="text" [(ngModel)]="desc_tipo_producto" (ngModelChange)="onChangeDescTPC($event)" id="descTPC" name="descTPC"
        placeholder="Descripcion de tipo producto" class="form-control" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
          event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
        tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" ">
    </div>
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label for="filesC">Logotipo*:</label>
      <input #myInput type="file" placeholder="File Name" (change)="onChangeFileTP($event)" id="filesTP" name="filesTP" class="form-control inputfile"
        accept="image/*" tooltip="Esta imagen se mostrará por defecto, en el módulo de VENTAS." tooltipPlacement="bottom" title=" ">
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onAddTPSubmit()">Registrar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogTPC = false">Cancelar</button>
  </div>
</p-dialog>

<!-- Update TP -->
<p-dialog [(visible)]="showDialogTPU" modal="modal" width="500" [responsive]="true">
  <p-header>
    Actualizar Tipo Producto
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label for="idTPC" style="display: inline-block">ID*:</label>
      <input type="text" [(ngModel)]="id_mostar" id="idTPU" name="idTPU" class="form-control" title=" " readonly>
    </div>
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label for="descTPC" style="display: inline-block">Nombre*:</label>
      <input type="text" [(ngModel)]="desc_tipo_producto" (ngModelChange)="onChangeDescTPC($event)" id="descTPU" name="descTPU"
        placeholder="Descripcion de tipo producto" class="form-control" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
          event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
        tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" ">
    </div>
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label for="filesU">Logotipo*:</label>
      <ng-template #toolTipTemplate>
        <img src={pathLogoTPU}} width="50%" />
        <p>Esta imagen se mostrará por defecto, en el módulo de VENTAS"</p>
      </ng-template>
      <a href="#" [tooltipHtml]="toolTipTemplate" tooltipPlacement="bottom" tooltipAnimation=false>
          <input #myInput1 type="file" placeholder="File Name" (change)="onChangeFileTPU($event)" id="filesTPU" name="filesTPU" 
          class="form-control inputfile" accept="image/*" [ngStyle]="{'color': colorUpdate}" title=" ">
      </a>
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onUpdateTPSubmit()">Actualizar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogTPU = false">Cancelar</button>
  </div>
</p-dialog>

<!-- Add Producto -->
<p-dialog [(visible)]="showDialogPC" modal="modal" width="800" [responsive]="true" positionTop="45">
  <p-header>
    Registrar Producto
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-12">
      <label for="nombrePC">Nombre*:</label>
      <input type="text" [(ngModel)]="nombre" (ngModelChange)="onChangeNombrePC($event)" id="nombrePC" name="nombrePC" placeholder="nombre único del producto"
        class="form-control input-sm" required onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
          event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
        tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" ">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-12">
      <label for="filesC">Logotipo:</label>
      <input #myInput type="file" placeholder="File Name" (change)="onChangeFileC($event)" id="filesC" name="filesC" class="form-control inputfile input-sm"
        accept="image/*" tooltip="Esta imagen se mostrará por defecto, en el módulo de VENTAS" tooltipPlacement="bottom" title=" ">
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="tipoPC">Tipo Producto*:</label>
      <select [(ngModel)]="selected_tipo_producto" id="tipoPC" name="tipoPC" class="form-control input-sm">
        <option value="" disabled selected hidden>Selecciona...</option>
        <option *ngFor="let c of tipo_productos" [ngValue]="c">{{c.desc_tipo_producto}}</option>
      </select>
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="pcPC">Precio Costo*:</label>
      <input currencyMask type="text" [(ngModel)]="precio_costo" id="pcPC" name="pcPC" class="form-control input-sm" placeholder="0.00"
        (ngModelChange)="valueChangePrecioCompra($event)" [disabled]="flagSubProd">
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="utilidadPC">Ganancia*:</label>
      <input currencyMask type="text" [options]="{ suffix :'%',prefix: ''}" [(ngModel)]="utilidad" id="utilidadPC" name="utilidadPC"
        placeholder="0.00" class="form-control input-sm" (ngModelChange)="valueChangeGanancia($event)">
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="pvPC">Precio Venta*:</label>
      <input type="text" currencyMask type="text" [(ngModel)]="precio_venta" id="pvPC" name="pvPC" placeholder="0.00" class="form-control input-sm"
        (ngModelChange)="valueChangePrecioVenta($event)">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="padding: 0">
        <label>Contenido*:</label>
      </div>
      <div class="ui-g-8 ui-xl-8 ui-lg-8 ui-md-8 ui-sm-8" style="padding: 2px">
        <p-selectButton [options]="lstContenido" [(ngModel)]="selectedLstContenido" (onChange)="onChangeLstContenido($event)" [disabled]="flagSubProd"></p-selectButton>
      </div>
      <div class="ui-g-4 ui-xl-4 ui-lg-4 ui-md-4 ui-sm-4" style="padding: 0; padding-left: 11px">
        <input type="text" currencyMask [options]="{ prefix: ''}" type="text" [(ngModel)]="contenido" id="contPC" name="contPC" placeholder="0.00"
          class="form-control input-sm" tooltip="Al almacenar el valor, el sistema realizará la conversión a ml." tooltipPlacement="bottom"
          [disabled]="flagSubProd">
      </div>
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="cantPC">Cantidad Existente*:</label>
      <input currencyMask type="text" [options]="{ prefix: ''}" [(ngModel)]="cant_existente" id="cantPC" name="cantPC" placeholder="0.00"
        class="form-control input-sm">
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <div style="text-align: center">
        <label>Receta (Subproductos):</label><br>
        <md-slide-toggle [color]="color" [checked]="checked" [(ngModel)]="flagSubProd" style="padding-top: 7px" (ngModelChange)="controlarPrecioCosto($event)">
        </md-slide-toggle>
      </div>
    </div>
    <div class="panel panel-default" style="width: 100%" *ngIf="flagSubProd">
      <div class="ui-g-5 ui-xl-5 ui-lg-5 ui-md-5 ui-sm-5" style="text-align: center">
        <label>Productos Existentes:</label>
        <p-listbox [options]="productos" [(ngModel)]="selected_producto" filter="filter" [style]="{'text-align':'left','max-height':'200px','height':'200px','border-color':borderStyleProdExistente}"
          id="prodExistente" name="prodExistente" (onChange)="onChangeProdExistentes($event)">
          <ng-template let-car pTemplate="item">
            {{car.nombre}}
            <span class="badge">$ {{ car.precio_costo | number : '1.2-2'}}</span>
            <span class="badge">{{car.contenido}} ml</span>
          </ng-template>
        </p-listbox>
      </div>
      <div class="ui-g-2 ui-xl-2 ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">
        <br>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="padding-bottom: 0">
          <label>Unidad Medida:</label>
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <select [(ngModel)]="unidadMedidaSuproducto" id="um" name="um" class="form-control input-sm" style="width: 100%">
            <option value="" disabled selected hidden>Selecciona...</option>
            <option *ngFor="let c of lstUnidades" [ngValue]="c">{{c.label}}</option>
          </select>
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="padding-bottom: 0">
          <label>Cantidad:</label>
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <input currencyMask type="text" [options]="{ prefix: ''}" [(ngModel)]="cantSubprod" id="cantSubprod" name="cantSubprod" placeholder="0.00"
            class="form-control input-sm" (ngModelChange)="valueChangeCantSubprod($event)" (click)="$event.target.select()">
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <i id="addIcon" class="fa fa-plus-square fa-2x" (click)="addItem()" aria-hidden="true" style="vertical-align: middle"></i>
          <i id="timesIcon" class="fa fa-minus-square fa-2x" (click)="deleteItem()" aria-hidden="true" style="vertical-align: middle"></i>
        </div>
      </div>
      <div class="ui-g-5 ui-xl-5 ui-lg-5 ui-md-5 ui-sm-12" style="text-align: center">
        <label>Productos Seleccionados:</label>
        <p-listbox [options]="subproductoV" [(ngModel)]="selected_prodSelec" filter="filter" [style]="{'text-align':'left','max-height':'200px','height':'200px','border-color':borderStyleProdSelec}"
          id="prodSeleccionado" name="prodSeleccionado" (onChange)="onChangeProdSelec($event)">
          <ng-template let-car let-i="index" pTemplate="item" id="tmpProd" name="tmpProd" #tmpProd>
            &nbsp;{{car.nombre}}
            <span class="badge">{{car.cantidad}}</span>
            <span class="badge">$ {{ car.precio_costo | number : '1.2-2'}}</span>
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onAddPSubmit()">Registrar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogPC = false">Cancelar</button>
  </div>
</p-dialog>

<!-- Update P -->
<p-dialog [(visible)]="showDialogPU" modal="modal" width="800" [responsive]="true" positionTop="45">
  <p-header>
    Actualizar Producto
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-12">
      <label for="nombrePU">Nombre*:</label>
      <input type="text" [(ngModel)]="productoUpdate.nombre" (ngModelChange)="onChangeNombrePU($event)" id="nombrePU" name="nombrePU"
        placeholder="nombre único del producto" class="form-control input-sm" required onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
          event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
        tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-12">
      <label for="filesU">Logotipo</label>
      <ng-template #toolTipTemplate>
        <img src={{productoUpdate.path}} width="50%" />
        <p>Esta imagen se mostrará por defecto, en el módulo de VENTAS"</p>
      </ng-template>
      <a href="#" [tooltipHtml]="toolTipTemplate" tooltipPlacement="bottom" tooltipAnimation=false>
          <input #myInput1 type="file" placeholder="File Name" (change)="onChangeFileU($event)" id="filesU" name="filesU" 
          class="form-control inputfile input-sm" accept="image/*" [ngStyle]="{'color': colorUpdate}" >
      </a>
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="tipoPU">Tipo Producto*:</label>
      <select [(ngModel)]="productoUpdate.id_tipo_producto" id="tipoPU" name="tipoPU" class="form-control input-sm">
        <option *ngFor="let c of tipo_productos">{{c.desc_tipo_producto}}</option>
      </select>
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="pcPU">Precio Costo*:</label>
      <input type="text" currencyMask type="text" [(ngModel)]="productoUpdate.precio_costo" id="pcPU" name="pcPU" class="form-control input-sm"
        placeholder="0.00" (ngModelChange)="valueChangePrecioCompraU($event)">
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="utilidadPU">Ganancia*:</label>
      <input currencyMask type="text" type="text" [options]="{ suffix :'%',prefix: ''}" [(ngModel)]="productoUpdate.utilidad" id="utilidadPU"
        name="utilidadPU" placeholder="0.00" class="form-control input-sm" (ngModelChange)="valueChangeGananciaU($event)">
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="pvPU">Precio Venta*:</label>
      <input type="text" currencyMask type="text" [(ngModel)]="productoUpdate.precio_venta" id="pvPU" name="pvPU" placeholder="0.00"
        class="form-control input-sm" (ngModelChange)="valueChangePrecioVentaU($event)">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="padding: 0">
        <label>Contenido*:</label>
      </div>
      <div class="ui-g-8 ui-xl-8 ui-lg-8 ui-md-8 ui-sm-8" style="padding: 2px">
        <p-selectButton [options]="lstContenido" [(ngModel)]="selectedLstContenido"></p-selectButton>
      </div>
      <div class="ui-g-4 ui-xl-4 ui-lg-4 ui-md-4 ui-sm-4" style="padding: 0; padding-left: 11px">
        <input type="text" currencyMask [options]="{ prefix: ''}" type="text" [(ngModel)]="productoUpdate.contenido" id="contPC"
          name="contPC" placeholder="0.00" class="form-control input-sm" (ngModelChange)="valueChangeContenidoU($event)" tooltip="Al almacenar el valor, el sistema realizará la conversión a ml."
          tooltipPlacement="bottom" [disabled]="flagSubProdUpdate">
      </div>
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <label for="cantPU">Cantidad Existente*:</label>
      <input currencyMask type="text" [options]="{ prefix: ''}" [(ngModel)]="productoUpdate.cant_existente" id="cantPU" name="cantPU"
        placeholder="0.00" class="form-control input-sm">
    </div>
    <div class="ui-g-3 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-6">
      <div style="text-align: center">
        <label>Receta (Subproductos):</label><br>
        <md-slide-toggle [color]="color" [checked]="checked" [(ngModel)]="flagSubProdUpdate" style="padding-top: 7px" (ngModelChange)="controlarPrecioCostoU($event)">
        </md-slide-toggle>
      </div>
    </div>
    <div class="panel panel-default" style="width: 100%" *ngIf="flagSubProdUpdate">
      <div class="ui-g-5 ui-xl-5 ui-lg-5 ui-md-5 ui-sm-4" style="text-align: center">
        <label>Productos Existentes:</label>
        <p-listbox [options]="productos" [(ngModel)]="selected_productoU" filter="filter" [style]="{'text-align':'left','max-height':'200px','height':'200px','border-color':borderStyleProdExistente}"
          id="prodExistenteU" name="prodExistenteU" (onChange)="onChangeProdExistentesU($event)">
          <ng-template let-car pTemplate="item">
            {{car.nombre}}
            <span class="badge">$ {{ car.precio_costo | number : '1.2-2'}}</span>
            <span class="badge">{{car.contenido}} ml</span>
          </ng-template>
        </p-listbox>
      </div>
      <div class="ui-g-2 ui-xl-2 ui-lg-2 ui-md-2 ui-sm-2" style="text-align: center">
        <br>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="padding-bottom: 0">
          <label>Unidad Medida:</label>
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <select [(ngModel)]="unidadMedidaSuproducto" id="umU" name="umU" class="form-control input-sm" style="width: 100%">
            <option *ngFor="let c of lstUnidades" [ngValue]="c">{{c.label}}</option>
          </select>
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="padding-bottom: 0">
          <label>Cantidad:</label>
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <input currencyMask type="text" [options]="{ prefix: ''}" [(ngModel)]="cantSubProdU" id="cantSubprod" name="cantSubprod"
            #cantSubprodU1 placeholder="0.00" class="form-control input-sm" (ngModelChange)="valueChangeCantSubprodU($event)"
            (click)="$event.target.select()">
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
          <i id="addIcon" class="fa fa-plus-square fa-2x" (click)="addItemU()" aria-hidden="true" style="vertical-align: middle"></i>
          <i id="timesIcon" class="fa fa-minus-square fa-2x" (click)="deleteItemU()" aria-hidden="true" style="vertical-align: middle"></i>
        </div>
      </div>
      <div class="ui-g-5 ui-xl-5 ui-lg-5 ui-md-5 ui-sm-5" style="text-align: center">
        <label>Productos Seleccionados:</label>
        <p-listbox [options]="productoUpdate.subproductoV" [(ngModel)]="selected_prodSelecU" filter="filter" [style]="{'text-align':'left','max-height':'200px','height':'200px','border-color':borderStyleProdSelec}"
          id="prodSeleccionadoU" name="prodSeleccionadoU" (onChange)="onChangeProdSelecU($event)">
          <ng-template let-car let-i="index" pTemplate="item" id="tmpProd" name="tmpProd" #tmpProd>
            &nbsp;{{car.nombre}}
            <span class="badge">{{car.cantidad}}</span>
            <span class="badge">$ {{ car.precio_costo | number : '1.2-2'}}</span>
          </ng-template>
        </p-listbox>
      </div>
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onUpdatePSubmit()">Actualizar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogPU = false">Cancelar</button>
  </div>
</p-dialog>

<!-- Add Promo -->
<p-dialog [(visible)]="showDialogPro" modal="modal" width="400" [responsive]="true">
  <p-header>
    Registrar Promoción
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label>Nombre*:</label>
      <input type="text" [(ngModel)]="objPromo.nombre" (ngModelChange)="onChangeNombrePromo($event)" id="nombrePromo" name="nombrePromo"
        placeholder="Nombre único de la promoción" class="form-control" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
        event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
        tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" " tabindex="1">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Desde*:</label>
      <input currencyMask type="text" [(ngModel)]="objPromo.desde" class="form-control input-sm" placeholder="0.00" tooltip="Cuando la cantidad vaya desde"
        tooltipPlacement="bottom" title=" " [options]="{ suffix :'',prefix: ''}" tabindex="2" id="desdePromo" name="desdePromo">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Hasta*:</label>
      <input currencyMask type="text" [(ngModel)]="objPromo.hasta" class="form-control input-sm" placeholder="0.00" tooltip="Hasta esta cantidad de producto"
        tooltipPlacement="bottom" title=" " [options]="{ suffix :'',prefix: ''}" tabindex="3" id="hastaPromo" name="hastaPromo">
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onAddPromoSubmit()" tabindex="4">Registrar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogPro = false">Cancelar</button>
  </div>
</p-dialog>

<!-- Update Promo -->
<p-dialog [(visible)]="showDialogProU" modal="modal" width="400" [responsive]="true">
  <p-header>
    Actualizar Promoción
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label>Nombre*:</label>
      <input type="text" [(ngModel)]="objPromoUpdate.nombre" (ngModelChange)="onChangeNombrePromo($event)" id="nombrePromoU" name="nombrePromoU"
        placeholder="Nombre único de la promoción" class="form-control" onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
          event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 45 && event.charCode <= 57'
        tooltip="Solo se permiten numeros, letras y ./- para este campo" tooltipPlacement="bottom" title=" " tabindex="1">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Desde*:</label>
      <input currencyMask type="text" [(ngModel)]="objPromoUpdate.desde" class="form-control input-sm" placeholder="0.00" tooltip="Cuando la cantidad vaya desde"
        tooltipPlacement="bottom" title=" " [options]="{ suffix :'',prefix: ''}" tabindex="2" id="desdePromoU" name="desdePromoU">
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Hasta*:</label>
      <input currencyMask type="text" [(ngModel)]="objPromoUpdate.hasta" class="form-control input-sm" placeholder="0.00" tooltip="Hasta esta cantidad de producto"
        tooltipPlacement="bottom" title=" " [options]="{ suffix :'',prefix: ''}" tabindex="3" id="hastaPromoU" name="hastaPromoU">
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onUpdatePromoSubmit()" tabindex="4">Registrar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogProU = false">Cancelar</button>
  </div>
</p-dialog>