<h2 class="page-header">Gestion de Tarjetas</h2>
<div (click)="$event.preventDefault()">
  <tabset [justified]="true">
    <!-- TAB OPEN -->
    <tab heading="Apertura de tarjeta" (select)="alertMe1(1)">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Apertura de tarjeta de consumo</h3>
        <hr>
      </div>
      <!--LEFT SIDE-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p-panel header="Datos del Cliente" [style]="{'height':'352px'}">
          <!-- Control Cliente-->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <label for="cedula" class="cols-sm-2 control-label">CI. Cliente</label>
              </div>
            </div>
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input [(ngModel)]="cedula" (ngModelChange)="onChangeCILength($event)" (click)="$event.target.select()" type="text" class="form-control"
                  name="cedulaNew" #cedulaNew id="cedulaNew" placeholder="Cedula del cliente" style="z-index: 1" maxlength="13"
                  onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search" aria-hidden="true"></i></span>
                <span (click)="showDialog = true; setCursorAdd()" class="input-group-addon" id="basic-addon4"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <!-- Mostrar cliente -->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <label for="datosCliente">Datos del cliente</label>
              </div>
            </div>
            <div class="row" *ngIf="flagUserFound">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Nombre:&nbsp;{{searchUser.nombre}}&nbsp;{{searchUser.apellido}}<br>Cedula:&nbsp;{{searchUser.cedula}}<br>Email:&nbsp;{{searchUser.correo}}
                    <br>Telefono:&nbsp;{{searchUser.telefono}}<br>Fecha de Nacimiento:&nbsp;{{searchUser.fecha_nacimiento}}<br>Sexo:&nbsp;{{searchUser.sexo}}
                    <br>Tipo Cliente:&nbsp;{{searchUser.id_tipo_cliente}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!flagUserFound">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <label id="lblNotFound" style="color: red; font-size: 14px">{{nfLael}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <!--RIGHT SIDE-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p-panel #pnlTarjeta header="Datos de Tarjeta" [style]="{'height':'352px'}">
          <!-- Validacion Tarjeta -->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <label>Numero de tarjeta</label>
              </div>
            </div>
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                <input [(ngModel)]="cardNumber" (ngModelChange)="onChange($event)" (click)="$event.target.select()" type="text" class="form-control"
                  name="numero" id="numero" placeholder="Codigo unico de tarjeta" [disabled]="!flagActivateInsertCard" style="z-index: 1;">
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-times" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <!-- Cantidad de personas -->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <label>Cantidad de personas</label>
              </div>
            </div>
            <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
              <div class="ui-g-3">
                <p style="font-size: 12px">Nro.<br>Mujeres</p>
              </div>
              <div class="input-group spinner ui-g-3">
                <input [(ngModel)]="cantMujeres" type="text" class="form-control input-sm" name="cantMujeres" id="cantMujeres" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  maxlength="2" min="0" [disabled]="!flagUserFound" style="z-index: 1" tabindex="1">
                <div class="input-group-btn-vertical">
                  <button id="addW" (click)="plusWoman1()" class="btn btn-default" [disabled]="!flagUserFound" type="button"><i class="fa fa-caret-up"></i></button>
                  <button id="lessW" (click)="lessWoman()" class="btn btn-default" [disabled]="!flagUserFound" type="button"><i class="fa fa-caret-down"></i></button>
                </div>
              </div>
              <div class="ui-g-3">
                <p style="font-size: 12px">Nro. Hombres</p>
              </div>
              <div class="input-group spinner ui-g-3">
                <input [(ngModel)]="cantHombres" type="text" class="form-control input-sm" name="cantHombres" id="cantHombres" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                  maxlength="2" min="0" [disabled]="!flagUserFound" style="z-index: 1" tabindex="2">
                <div class="input-group-btn-vertical">
                  <button id="addM" (click)="plusMan()" class="btn btn-default" [disabled]="!flagUserFound" type="button"><i class="fa fa-caret-up"></i></button>
                  <button id="lessM" (click)="lessMan()" class="btn btn-default" [disabled]="!flagUserFound" type="button"><i class="fa fa-caret-down"></i></button>
                </div>
              </div>
            </div>
          </div>
          <br><br>
        </p-panel>
      </div>
      <!-- BOTTOM SIDE-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <p-panel #pnlPromos header="Seleccionar promociones">
          <p-tabView (onChange)="handleChange($event)">
            <p-tabPanel *ngFor="let tabz of tabs; let i = index;let first = first;" [selected]="first" [header]="tabz.label" lazy="true">

              <p-dataTable [value]="mapProdShow" [responsive]="true" [(selection)]="selectedPromos" [paginator]="true" [rows]="5" (onRowSelect)="onRowSelect($event)">
                <p-column [style]="{'width':'29px'}" selectionMode="multiple">
                </p-column>

                <p-column field="selectedPromo" header="Promoción" [editable]="false" [style]="{'width':'130px'}">
                  <ng-template let-car="rowData" pTemplate type="body">
                    <select [(ngModel)]="car.selectedPromo" [ngStyle]='{"width": "100%", "background": "rgba(255,255,255,0)"}'>
                      <option *ngFor="let row of lstPromociones">{{row.nombre}}</option>
                    </select>
                  </ng-template>
                </p-column>

                <p-column *ngFor="let header of headers" [field]="header.field" [header]="header.header" [sortable]="true" [filter]="true"
                  filterMatchMode="contains" [style]="{'width':'17%'}"></p-column>

                <p-column header="Precio Promo" [style]="{'width':'13%'}">
                  <ng-template let-car="rowData" pTemplate>
                    <input type="text" currencyMask [(ngModel)]="car.precio_promo" [options]="{ align : 'center' }" style="max-width: 100%; color: black;">
                  </ng-template>
                </p-column>

                <p-footer>
                  <ul>
                    <div *ngIf="selectedPromos.length !== 0" style="text-align: center">
                      <h3>Promociones Activas</h3>
                    </div>
                    <li *ngFor="let car of selectedPromos" style="text-align: left">
                      {{car.selectedPromo + ' - ' + car.nombre + ' - $' + car.precio_promo}}</li>
                  </ul>
                </p-footer>
              </p-dataTable>

            </p-tabPanel>
          </p-tabView>
        </p-panel>
      </div>
      <!-- Button -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="text-align: center">
        <button class="btn btn-primary btn-block" (click)="insertClientCard()" [disabled]="!flagCardFound">Ingresar</button>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
    </tab>
    <!--TAB CLOSE-->
    <tab heading="Cierre de tarjeta" (select)="alertMe2(2)">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Cierre de tarjeta de consumo</h3>
        <hr>
      </div>
      <!--LEFT SIDE-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p-panel header="Datos de Cliente y Tarjeta" [style]="{'height':'352px'}">
          <!-- Verificacion de consumo -->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <label class="cols-sm-2 control-label">Numero de tarjeta</label>
              </div>
            </div>
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                <input [(ngModel)]="cardNumberS" (ngModelChange)="onChangeClose($event)" (click)="$event.target.select()" type="text" class="form-control"
                  name="numeroS" id="numeroS" placeholder="Codigo unico de tarjeta" />
                <span class="input-group-addon" id="basic-addon5"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="input-group-addon" id="basic-addon6"><i class="fa fa-times" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <!-- Mostrar cliente -->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <label for="datosCliente">Datos del cliente</label>
              </div>
            </div>
            <div class="row" *ngIf="flagUserFound">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Nombre:&nbsp;{{nombre}}&nbsp;{{apellido}}<br>Cedula:&nbsp;{{cedula}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!flagUserFound">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <label id="lblNotFound" style="color: red; font-size: 14px">{{nfLael}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <!--RIGHT SIDE-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p-panel #pnlTablaConsumo header="Datos del Consumo">
          <!-- Resumen consumo -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label for="tabla" class="control-label">Resumen Consumo</label>
            </div>
          </div>
          <!-- Tabla de Resumen consumo -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p-dataTable [value]="lstPromos" [responsive]="true" [(selection)]="selectedPromos" [paginator]="true" [rows]="5">
                <p-column field="cantidad" header="Cantidad" [style]="{'width':'15%'}"></p-column>
                <p-column field="descripcion" header="Descripción" [style]="{'width':'52.5%'}"></p-column>
                <p-column field="pu" header="Precio Unitario" [style]="{'width':'16.25%'}"></p-column>
                <p-column field="total" header="Total" [style]="{'width':'16.25%'}"></p-column>
              </p-dataTable>
            </div>
          </div>
          <!-- Total a pagar -->
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <br>
              <div class="input-group">
                <span class="input-group-addon"><label class="control-label" style="font-size: 17px; text-align: center">Total a pagar:</label></span>
                <input type="text" class="form-control" placeholder="9999" style="font-size: 18px; text-align: right; background-color: white"
                  readonly>
                <span class="input-group-addon" style="font-size: 18px; text-align: right">.00</span>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <!-- Button -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <button (click)="showDialogPrint = !showDialogPrint" class="btn btn-primary btn-block" id="basic-addonPrint">Aceptar</button>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
    </tab>
    <!-- TAB EGRESOS -->
    <tab heading="Ingreso/Egreso de personas" (select)="alertMe3(3)">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Ingreso/Egreso de personas</h3>
        <hr>
      </div>
      <!--LEFT SIDE-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p-panel header="Datos de Cliente y Tarjeta" [style]="{'height':'352px'}">
          <!-- Verificacion de consumo -->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <label class="cols-sm-2 control-label">Numero de tarjeta</label>
              </div>
            </div>
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                <input [(ngModel)]="cardNumberS" (ngModelChange)="onChangeClose($event)" (click)="$event.target.select()" type="text" class="form-control"
                  name="numeroT" id="numeroT" placeholder="Codigo unico de tarjeta" />
                <span class="input-group-addon" id="basic-addon5"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="input-group-addon" id="basic-addon6"><i class="fa fa-times" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <!-- Mostrar cliente -->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <label for="datosCliente">Datos del cliente</label>
              </div>
            </div>
            <div class="row" *ngIf="flagUserFound">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Nombre:&nbsp;{{nombre}}&nbsp;{{apellido}}<br>Cedula:&nbsp;{{cedula}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!flagUserFound">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <label id="lblNotFound" style="color: red; font-size: 14px">{{nfLael}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <!--RIGHT SIDE-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p-panel #pnlCantPersonas header="Cantidad de Personas Entrantes/Salientes" [style]="{'height':'352px'}">
          <!-- Cantidad de personas -->
          <div class="form-group">
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <label class="cols-sm-2 control-label">Cantidad de personas</label>
              </div>
            </div>
            <div class="row">
              <div class="input-group col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row" style="text-align: center">
                      <div class="ui-g-6" style="padding-top: 4%">
                        <p>Total Mujeres</p>
                      </div>
                      <div class="ui-g-6" style="padding-top: 3%">
                        <p-selectButton [options]="types" [(ngModel)]="selectedIeMujeres"></p-selectButton>
                      </div>
                    </div>
                    <div class="row" style="text-align: center">
                      <div class="ui-g-6">
                        <span class="badge" style="font-size: 25px">{{cantMujeres}}</span>
                      </div>
                      <div class="ui-g-6" style="padding-top: 2.5%">
                        <p-spinner size="5" [(ngModel)]="cantSalenM" [min]="0" [max]="100"></p-spinner>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row" style="text-align: center">
                      <div class="ui-g-6" style="padding-top: 4%">
                        <p>Total Hombres</p>
                      </div>
                      <div class="ui-g-6" style="padding-top: 3%">
                        <p-selectButton [options]="types" [(ngModel)]="selectedIeHombres"></p-selectButton>
                      </div>
                    </div>
                    <div class="row" style="text-align: center">
                      <div class="ui-g-6">
                        <span class="badge" style="font-size: 25px">{{cantHombres}}</span>
                      </div>
                      <div class="ui-g-6" style="padding-top: 2.5%">
                        <p-spinner size="5" [(ngModel)]="cantSalenH" [min]="0" [max]="100"></p-spinner>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
      <!-- Button -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
      <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <button (click)="showDialogPrint = !showDialogPrint" class="btn btn-primary btn-block" id="basic-addonPrint">Confirmar</button>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
      </div>
    </tab>
    <!-- TAB tarjetas -->
    <tab heading="Tarjetas">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <hr>
        <h3 style="text-align: center">Ingreso de tarjetas</h3>
        <hr>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ng2-smart-table id="dtT" [settings]="settingsT" [source]="sourceT" (create)="showDialogT = !showDialogT;setCursorAddT()"
          (edit)="showDialogTU = !showDialogTU;onUpdateT($event);setCursorUpdateT()" (delete)="onDeleteT($event)">
        </ng2-smart-table>
      </div>
    </tab>
  </tabset>
</div>

<!-- ADD CLIENT -->
<p-dialog [(visible)]="showDialog" modal="modal" width="550" [responsive]="true">
  <p-header>
    Registrar Cliente
  </p-header>
  <br>
  <div class="ui-g ui-fluid">
    <div class="ui-g-6">
      <label for="ciA">Cedula*:</label>
      <input type="text" [(ngModel)]="cedula" id="ciA" name="ciA" (ngModelChange)="onChangeCI()" placeholder="Cedula del cliente"
        class="form-control input-sm" maxlength="13" onkeypress='return event.charCode >= 48 && event.charCode <= 57' tooltip="Solo se permiten NUMEROS."
        tooltipPlacement="bottom">
    </div>
    <div class="ui-g-6">
      <label>Telefono:</label>
      <input type="text" [(ngModel)]="telefono" id="telefono" name="telefono" placeholder="Telefono del cliente" class="form-control input-sm"
        maxlength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57' tooltip="Solo se permiten NUMEROS."
        tooltipPlacement="bottom">
    </div>
    <div class="ui-g-6">
      <label>Nombre*:</label>
      <input type="text" [(ngModel)]="nombre" id="nombre" name="nombre" placeholder="Nombre del cliente" class="form-control input-sm"
        onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
      event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
        tooltip="Solo se permiten LETRAS." tooltipPlacement="bottom" (ngModelChange)="onChangeNombre($event)">
    </div>
    <div class="ui-g-6">
      <label>Apellido*:</label>
      <input type="text" [(ngModel)]="apellido" id="apellido" name="apellido" placeholder="Apellido del cliente" class="form-control input-sm"
        onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
      event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
        tooltip="Solo se permiten LETRAS." tooltipPlacement="bottom" (ngModelChange)="onChangeApellido($event)">
    </div>
    <div class="ui-g-6">
      <label>E-mail:</label>
      <input type="text" [(ngModel)]="correo" (ngModelChange)="onChangeEmail($event)" id="correo" name="correo" placeholder="Correo del cliente"
        class="form-control input-sm">
    </div>
    <div class="ui-g-6">
      <label>Sexo*:</label><br>
      <md-radio-group [(ngModel)]="sexo">
        <md-radio-button class="example-radio-button" *ngFor="let sex of sexs" [value]="sex.pseudo" [color]="color">{{sex.name}}
        </md-radio-button>
      </md-radio-group>
    </div>
    <div class="ui-g-6">
      <label>Fecha de nacimiento*:</label>
      <p-calendar [(ngModel)]="fecha_nacimiento" [locale]="es" dateFormat="dd/mm/yy" [showIcon]="true" [monthNavigator]="true"
        [yearNavigator]="true" yearRange="1950:2030" dataType="string" [readonlyInput]="true">
      </p-calendar>
    </div>
    <div class="ui-g-6">
      <label>Tipo Cliente*:</label>
      <p-dropdown [options]="citiesDD" [(ngModel)]="selected_tipo_cliente" placeholder="Selecciona un Tipo" [style]="{'width':'100%'}"></p-dropdown>
    </div>
  </div>
  <hr>
  <div class="ui-g-12" style="text-align: center">
    <button type="button" style="font-size: 11px" (click)="saveClient()" class="btn btn-primary">Registrar</button>
    <button type="button" style="font-size: 11px" (click)="showDialog=false" class="btn btn-default">Cancelar</button>
  </div>
</p-dialog>

<!-- PRINT -->
<p-dialog [(visible)]="showDialogPrint" modal="modal" width="630" [responsive]="true">
  <br>
  <h3 style="text-align: center">Imprimiendo...</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0"
      aria-valuemax="100" style="width:100%">
      100%
    </div>
  </div>
</p-dialog>

<!-- Add T -->
<p-dialog [(visible)]="showDialogT" modal="modal" width="500" [responsive]="true">
  <p-header>
    Registrar Tarjeta
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label>Numero de tarjeta*:</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
        <input [(ngModel)]="cardNumberGT" (ngModelChange)="onChangeAddT($event)" (click)="$event.target.select()" type="text" class="form-control"
          name="numeroGT" id="numeroGT" placeholder="Codigo único de tarjeta" tooltip="Desliza la tarjeta sobre el lector."
          tooltipPlacement="bottom" maxlength="9">
        <span class="input-group-addon" id="basic-addon7"><i class="fa fa-check" aria-hidden="true"></i></span>
        <span class="input-group-addon" id="basic-addon8"><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Cliente:</label>
      <p-dropdown [options]="lstAddCardCI" [(ngModel)]="selectedClientGP" [style]="{'width':'100%'}" scrollHeight="200px" filter="filter"
        filterBy="label,value.cedula" id="lstClientes" name="lstClientes" [inputId]="lstClientes">
        <ng-template let-car pTemplate="item">
          <p>{{car.label}}--{{car.value.cedula}}</p>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Tipo*:</label>
      <p-dropdown [options]="tipoTarjetas" [(ngModel)]="selectedTipoTarjeta" [style]="{'width':'100%'}" name="tipoTarjetas" id="tipoTarjetas"
        [inputId]="tipoTarjetas">
        <ng-template let-car pTemplate="item">
          <p>{{car.label}}</p>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Limite Consumo*:</label>
      <input currencyMask type="text" [(ngModel)]="limiteConsumo" id="limite" name="limite" class="form-control input-sm" placeholder="0.00">
      <br>
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Descripción:</label>
      <textarea pInputTextarea [(ngModel)]="descTarjeta" (ngModelChange)="onChangeDescAdd($event)" style="width: 100%" [rows]="5"></textarea>
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onAddTSubmit()" [disabled]="!flagCN">Registrar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogT = false">Cancelar</button>
  </div>
</p-dialog>

<!-- Update T -->
<p-dialog [(visible)]="showDialogTU" modal="modal" width="500" [responsive]="true">
  <p-header>
    Actualizar Tipo Producto
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
      <label>Numero de tarjeta*:</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
        <input [(ngModel)]="updateTarjeta.numero" (ngModelChange)="onChangeAddTU($event)" (click)="$event.target.select()" type="text"
          class="form-control" name="numeroGTU" id="numeroGTU" placeholder="Codigo único de tarjeta" maxlength="9" readonly>
        <span class="input-group-addon" id="basic-addon9"><i class="fa fa-check" aria-hidden="true"></i></span>
        <span class="input-group-addon" id="basic-addon10"><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Cliente:</label>
      <p-dropdown [options]="lstAddCardCI1" [(ngModel)]="selectedClientGP" [style]="{'width':'100%'}" scrollHeight="200px" filter="filter"
        filterBy="label,value.cedula" id="lstClientesU" name="lstClientesU" [inputId]="lstClientes">
        <ng-template let-car pTemplate="item">
          <p>{{car.label}}--{{car.value.cedula}}</p>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Tipo*:</label>
      <p-dropdown [options]="tipoTarjetas" [(ngModel)]="updateTarjeta.tipo" [style]="{'width':'100%'}" name="tipoTarjetasU" id="tipoTarjetasU"
        [inputId]="tipoTarjetas">
        <ng-template let-car pTemplate="item">
          <p>{{car.label}}</p>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Limite Consumo*:</label>
      <input currencyMask type="text" [(ngModel)]="updateTarjeta.limite" id="limiteU" name="limiteU" class="form-control input-sm"
        placeholder="0.00">
      <br>
    </div>
    <div class="ui-g-6 ui-xl-6 ui-lg-6 ui-md-6 ui-sm-6">
      <label>Descripción:</label>
      <textarea pInputTextarea [(ngModel)]="updateTarjeta.descripcion" (ngModelChange)="onChangeDescUpdate($event)" style="width: 100%"
        [rows]="5"></textarea>
    </div>
  </div>
  <hr>
  <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12" style="text-align: center">
    <button class="btn btn-primary" style="font-size: 11px" (click)="onUpdateTSubmit()">Actualizar</button>
    <button class="btn btn-default" style="font-size: 11px" (click)="showDialogTU = false">Cancelar</button>
  </div>
</p-dialog>

<!--<p-blockUI [target]="pnlTarjeta" [blocked]="!flagUserFound">
  <i class="fa fa-lock fa-5x" style="position:absolute;top:40%;left:46%;z-index: 1"></i>
</p-blockUI>

<p-blockUI [target]="pnlPromos" [blocked]="!flagUserFound">
  <i class="fa fa-lock fa-5x" style="position:absolute;top:40%;left:48%"></i>
</p-blockUI>

<p-blockUI [target]="pnlTablaConsumo" [blocked]="!flagUserFound">
  <i class="fa fa-lock fa-5x" style="position:absolute;top:40%;left:46%"></i>
</p-blockUI>-->

<!--<p-blockUI [target]="pnlCantPersonas" [blocked]="!flagUserFound">
    <i class="fa fa-lock fa-5x" style="position:absolute;top:40%;left:46%"></i>
  </p-blockUI>-->