<h2 class="page-header">Facturacion</h2>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div (click)="$event.preventDefault()">
            <!--left DIV-->
            <tabset [justified]="true">
                <!-- *******************TIPO 1***********************-->
                <tab heading="Cerveza">
                    <hr>
                    <h3 style="text-align: center">Cerveza</h3>
                    <hr>
                    <img src="E:/projects/COCOA/mnbx3/ManagerBox3/back-end/uploads/copia.png" />
                    <img src="assets/img/marcas/cervezas/11.png" />
                    
                    <div *ngFor="let path of paths; let i = index">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <img src={{path}} (dblclick)="eventEmitDoubleClick($event); passIndex(i)" />
                        </div>
                    </div>
                </tab>
                <!-- *******************TIPO2***********************-->
                <tab heading="Tipo 2">
                    <hr>
                    <h3 style="text-align: center">Tipo de producto 2</h3>
                    <hr>
                    <!-- Produtos -->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <!-- Tabla de Promociones -->
                                <div class="container">
                                    <p>La tipificacion de los productos ha sido creada por el administrador.</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Descripcion</th>
                                                <th style="text-align: center">Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center">
                                            <tr>
                                                <td>Producto 3</td>
                                                <td>15.00</td>
                                            </tr>
                                            <tr>
                                                <td>Producto 4</td>
                                                <td>60.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- *******************TIPO3***********************-->
                <tab heading="Tipo 3">
                    <hr>
                    <h3 style="text-align: center">Tipo de producto 3</h3>
                    <hr>
                    <!-- Promociones -->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <!-- Tabla de Promociones -->
                                <div class="container">
                                    <p>La tipificacion de los productos ha sido creada por el administrador.</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Descripcion</th>
                                                <th style="text-align: center">Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center">
                                            <tr>
                                                <td>Producto 5</td>
                                                <td>6.00</td>
                                            </tr>
                                            <tr>
                                                <td>Producto 6</td>
                                                <td>8.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <!-- *******************TIPO4***********************-->
                <tab heading="Tipo 4">
                    <hr>
                    <h3 style="text-align: center">Tipo de producto 4</h3>
                    <hr>
                    <!-- Promociones -->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <!-- Tabla de Promociones -->
                                <div class="container">
                                    <p>La tipificacion de los productos ha sido creada por el administrador.</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Descripcion</th>
                                                <th style="text-align: center">Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center">
                                            <tr>
                                                <td>Producto 7</td>
                                                <td>20.00</td>
                                            </tr>
                                            <tr>
                                                <td>Producto 8</td>
                                                <td>90.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <!--right DIV-->
    <br>
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
        <form class="form-inline">
            <h4 style="text-align: center">Productos Seleccionados</h4>
        </form>
        <ul class="list-group">
            <li class="list-group-item">
                <form class="form-inline">
                    <label for="addProd1" style="display: inline-block">Producto 1</label>
                    <span style="display: inline-block" (click)="addProd1()" class="input-group-addon" id="addProd1" style="width: 20px">
                    <i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span style="display: inline-block" (click)="lessProd1()" class="input-group-addon" id="addProd2" style="width: 20px">
                    <i class="fa fa-minus" aria-hidden="true"></i></span>
                    <span style="display: inline-block" class="input-group-addon" style="width: 20px">
                    <font size="5">{{cant1}}</font></span>
                </form>
            </li>
            <li class="list-group-item">
                <form class="form-inline">
                    <label for="addProd1" style="display: inline-block">Producto 2</label>
                    <span style="display: inline-block" (click)="addProd2()" class="input-group-addon" id="addProd2" style="width: 20px">
                    <i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span style="display: inline-block" (click)="lessProd2()" class="input-group-addon" id="addProd3" style="width: 20px">
                    <i class="fa fa-minus" aria-hidden="true"></i></span>
                    <span style="display: inline-block" class="input-group-addon" style="width: 20px">
                    <font size="5">{{cant2}}</font></span>
                </form>
            </li>
            <li class="list-group-item">
                <form class="form-inline">
                    <label for="addProd1" style="display: inline-block">Producto 3</label>
                    <span style="display: inline-block" (click)="addProd3()" class="input-group-addon" id="addProd4" style="width: 20px">
                    <i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span style="display: inline-block" (click)="lessProd3()" class="input-group-addon" id="addProd5" style="width: 20px">
                    <i class="fa fa-minus" aria-hidden="true"></i></span>
                    <span style="display: inline-block" class="input-group-addon" style="width: 20px">
                    <font size="5">{{cant3}}</font></span>
                </form>
            </li>
        </ul>
        <button (click)="showDialogConfirmar = !showDialogConfirmar;" class="btn btn-primary" style="width: 100%">Confirmar</button>
    </div>
    <!--Control venta(Cajero % tarjeta)-->
    <app-dialog [(visible)]="showDialogConfirmar" (visibleChange)="change($event)" #dialog="dialog">
        <h3 style="text-align: center">
            Confirmacion de venta
        </h3>
        <hr>
        <flash-messages></flash-messages>
        <!-- Validacion Tarjeta -->
        <div class="form-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label for="cardNumber" class="cols-sm-2 control-label">Numero de tarjeta</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                    <input [(ngModel)]="cardNumber" (ngModelChange)="onChange($event)" (click)="$event.target.select()" type="text" class="form-control"
                        name="cardNumber" id="cardNumber" placeholder="Codigo unico de tarjeta" />
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <!-- Control cajero -->
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                <label>Control mesero</label>
            </div>
            <div class="col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
                <select class="form-control">
                    <option value="" disabled selected hidden>Selecciona...</option>
                </select>
            </div>
            <div class="col-sm-5 col-xs-5">
                <input [(ngModel)]="password" type="password" class="form-control" name="password" id="password" placeholder="Ingresa tu clave de usuario"
                />
                <br>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
            <button class="btn btn-primary" style="width: 25%">Confirmar</button>
            <button class="btn btn-default" (click)="showDialogConfirmar = !showDialogConfirmar" style="width: 25%">Cancelar</button>
        </div>
    </app-dialog>
</div>