<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header" style="padding: 0; margin-top: 20px" (window:resize)="onResize($event)">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 0" [ngStyle]='{"text-align": textAlignTitle}'>
        <h2>Ventas</h2>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
    <!--left DIV-->
    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
        <div (click)="$event.preventDefault()">
            <tabset>
                <tab heading="Promociones" (select)="loadLogos(100)">
                    <hr>
                    <h3 style="text-align: center">Promociones Disponibles</h3>
                    <hr>
                    <p-dataGrid [value]="lstProdPromo" [paginator]="true" [rows]="16" emptyMessage="No existen registros">
                        <ng-template let-prod let-i="index" pTemplate="item">
                            <div class="ui-g-12 ui-md-3">
                                <p-panel [header]="prod.nombre" [style]="{'text-align':'center'}">
                                    <div (dblclick)="eventEmitDoubleClick($event,i)">
                                        <p style="text-align: center" *ngFor="let p of prod.productosV[0].p">
                                            -{{p.cantidad}} {{p.id}}
                                        </p>
                                        <p>---------------------------</p>
                                        <p style="text-align: center" *ngFor="let r of prod.productosV[1].r">
                                            -{{r.cantidad}} {{r.id}}
                                        </p>
                                    </div>
                                    <i class="fa fa-search" (click)="selectProductPromo(prod)" style="cursor:pointer;padding-top: 10px"></i>
                                </p-panel>
                            </div>
                        </ng-template>
                    </p-dataGrid>
                </tab>
                <tab *ngFor="let tabz of tabs; let i = index" [heading]="tabz.title" (select)="loadLogos(i)">
                    <hr>
                    <h3 style="text-align: center;">{{tabz.title}}</h3>
                    <hr>
                    <div class="col-lg-6" style="text-align: left; padding: 0">
                        Numero de unidades en Stock:
                        <canvas id="myCanvas" width="15" height="15" style="border:1px solid #5ff442; background-color: #5ff442; margin-bottom: -2.5px"></canvas> Alta
                        <canvas id="myCanvas" width="15" height="15" style="border:1px solid #e5e500; background-color: #e5e500; margin-bottom: -2.5px"></canvas> Media
                        <canvas id="myCanvas" width="15" height="15" style="border:1px solid #FE2E2E; background-color: #FE2E2E; margin-bottom: -2.5px"></canvas> Baja
                    </div>
                    <div class="col-lg-6" style="text-align: right; padding: 0">
                        Productos en Promoción:
                        <canvas id="myCanvas" width="15" height="15" style="border:1px solid yellow; background-color: yellow; margin-bottom: -2.5px"></canvas>
                    </div>
                    <div class="col-lg-12" style="padding: 0"><br>
                        <p-dataGrid [value]="pathsType" [paginator]="true" [rows]="16" [immutable]="false" emptyMessage="No existen registros">
                            <ng-template let-prod let-i="index" pTemplate="item">
                                <div class="ui-g-12 ui-md-3">
                                    <p-panel [style]="{'text-align':'center','border-color':colorZeroStock}">
                                        <p-header>
                                            <p [ngStyle]="{'background-color':colorPromo}">{{prod.nombre}}</p>
                                        </p-header>
                                        <img src={{prod.path}} (dblclick)="eventEmitDoubleClick($event,i)" width="80" />
                                        <br><i class="fa fa-search" (click)="selectProduct(prod)" style="cursor:pointer;padding-top: 10px"></i>
                                    </p-panel>
                                </div>
                            </ng-template>
                        </p-dataGrid>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <!--right DIV-->
    <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
        <button type="button" pButton (click)="showProdCover=true;setCursorProdCover()" label="Productos Cover" [ngStyle]='{"margin-top": "10px", "margin-bottom": "20px", "font-size": "14px", "width": "100%"}'></button>
        <div class="panel panel-default" style="width: 100%">

            <form class="form-inline">
                <h4 style="text-align: center">Productos Seleccionados</h4>
            </form>
            <br>
            <div *ngIf="!flagProdSeleccionados" style="padding-left: 5%;padding-right: 5%">
                <li class="list-group-item">
                    <p>Doble click en logotipo para añadir productos.</p>
                </li>
                <br>
            </div>
            <nav>
                <ul class="list-group" *ngIf="flagProdSeleccionados" style="padding-left: 5%;padding-right: 5%">
                    <li class="list-group-item" *ngFor="let item of selectedProductos; let i = index">
                        <h4 style="text-align: center">
                            {{item.nombre}} <i id="iconTimes" (click)="removeProd(i)" class="fa fa-times" aria-hidden="true"
                                mdTooltip="Eliminar producto"></i>
                        </h4>
                        <div class="input-group col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2"
                            style="padding-bottom: 10px">
                            <span style="display: inline-block" (click)="addProd(i)" class="input-group-addon input-sm" style="width: 20px">
                        <i class="fa fa-plus fa-lg" aria-hidden="true"></i></span>
                            <span style="display: inline-block" (click)="lessProd(i)" class="input-group-addon input-sm" style="width: 20px">
                        <i class="fa fa-minus fa-lg" aria-hidden="true"></i></span>
                            <span style="display: inline-block" class="input-group-addon input-sm" style="width: 20px">
                        <font size="5">{{item.cantidad}}</font></span>
                        </div>
                    </li>
                </ul>
            </nav>
            <div style="text-align: center; padding-bottom: 15px">
                <button *ngIf="flagProdSeleccionados" (click)="showDialogConfirmar = true;setCursor();" class="btn btn-primary" style="width: 90%;">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!--Control venta(Cajero & tarjeta)-->
<p-dialog header="Confirmación Venta" [(visible)]="showDialogConfirmar" [responsive]="true" [modal]="true" width="450">
    <div class="form-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <label for="cardNumber" class="cols-sm-2 control-label">Numero de tarjeta</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon input-sm"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                <input class="form-control input-sm" [(ngModel)]="cardNumber" (ngModelChange)="onChange($event)" (click)="$event.target.select()"
                    type="text" name="cardNumber" id="cardNumber" placeholder="Numero de tarjeta de consumo" style="z-index: 1;"
                    tabindex="1" maxlength="9" onkeypress='return event.charCode === 241 || event.charCode >= 48 && event.charCode <= 57 || event.charCode === 95 || event.charCode === 209'>
                <span class="input-group-addon input-sm" id="basic-addon1"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="input-group-addon input-sm" id="basic-addon2"><i class="fa fa-times" aria-hidden="true"></i></span>

            </div>
        </div>
    </div>
    <div class="form-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <label>Control mesero</label>
        <div class="input-group">
            <span class="input-group-addon input-sm"><i class="fa fa-user" aria-hidden="true"></i></span>
            <select class="form-control  input-sm" [(ngModel)]="selectedMesero" tabindex="2">
                <option *ngFor="let c of listMeseros" [ngValue]="c">{{c.cedula}}</option>
            </select>
        </div>
    </div>
    <div class="form-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <label>Password</label>
        <div class="input-group">
            <span class="input-group-addon input-sm"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input [(ngModel)]="password" (ngModelChange)="changePass($event)" type="password" class="form-control input-sm" name="password"
                id="password" placeholder="Ingresa tu clave de usuario" tabindex="3">
        </div>
    </div>

    <div class="form-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <p-listbox [options]="selectedProductos" [(ngModel)]="selected_producto" [style]="{'text-align':'left','max-height':'200px','height':'200px','width':'100%'}"
            id="prodExistente" name="prodExistente" (onChange)="onChangeProdExistentes($event)">
            <ng-template let-car pTemplate="item">
                {{car.nombre}}
                <span class="badge">{{car.cantidad}} u</span>
                <span class="badge">$ {{ car.precio_venta | number : '1.2-2'}}</span>
                <span class="badge">$ {{ car.total | number : '1.2-2'}}</span>
            </ng-template>
        </p-listbox>
    </div>


    <!-- Button -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <hr>
        <button class="btn btn-primary" (click)="send()" style="width: 25%;font-size: 11px" [disabled]="!flagMatchPass">Confirmar</button>
        <button class="btn btn-default" (click)="showDialogConfirmar = false" style="width: 25%;font-size: 11px">Cancelar</button>
    </div>
</p-dialog>

<!-- Detalle Producto -->
<p-dialog header="Detalle Producto" [(visible)]="displayDialog" [responsive]="true" [modal]="true" width="400" (onAfterHide)="onDialogHide()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedProd" style="font-size:16px;text-align:center;padding:20px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12" style="text-align:center"><img src="{{selectedProd.path}}" width="80"></div>
        </div><br>
        <div class="ui-grid-row">
            <div class="panel panel-default" style="width: 100%">
                <ul class="list-group" id="limheight">
                    <li class="list-group-item list-group-item1">
                        <p style="text-align: left">Nombre <br>Producto:</p>
                        {{selectedProd.nombre}}
                    </li>
                    <li class="list-group-item list-group-item1">
                        <p style="text-align: left">Precio <br>Producto:</p>
                        ${{selectedProd.precio_venta | number : '1.2-2'}}
                    </li>
                    <li class="list-group-item list-group-item1">
                        <p style="text-align: left">Precio <br>Promo:</p>
                        ${{selectedProd.precio_costo | number : '1.2-2'}}
                    </li>
                    <li class="list-group-item list-group-item1">
                        <p style="text-align: left">Cantidad Existente:</p>
                        {{selectedProd.cant_existente | number : '1.2-2'}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</p-dialog>

<!-- Detalle Producto Promo -->
<p-dialog header="Detalle Promoción" [(visible)]="showDialogPromo" [responsive]="true" [modal]="true" width="550" (onAfterHide)="onDialogHide()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedProdPromo" style="font-size:16px;text-align:center;padding:20px">
        <div class="ui-grid-row">
            <div class="panel panel-default" style="width: 100%">
                <ul class="list-group" id="limheight">
                    <li class="list-group-item list-group-item1">
                        <p style="text-align: left">Nombre Promoción:</p>
                        <p style="text-align: left">{{selectedProdPromo.nombre}}</p>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <p style="text-align: left">Por:</p>
                        <p style="text-align: left" *ngFor="let p of selectedProdPromo.productosV[0].p">
                            -{{p.cantidad}} {{p.id}}
                            <span class="badge" tooltip="Numero de unidades existentes">32u</span>
                        </p>
                    </li>
                    <li class="list-group-item list-group-item1">
                        <p style="text-align: left">Recibe:</p>
                        <p style="text-align: left" *ngFor="let r of selectedProdPromo.productosV[1].r">
                            -{{r.cantidad}} {{r.id}}
                            <span class="badge" tooltip="Numero de unidades existentes">32u</span>
                        </p>
                    </li>
                    <li class="list-group-item list-group-item1" *ngIf="flagPrecioPromo">
                        <p style="text-align: left">Precio Promoción:</p>
                        <p style="text-align: left">${{selectedProdPromo.productosV[2].v}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</p-dialog>

<!-- Productos Cover-->
<p-dialog [(visible)]="showProdCover" modal="modal" width="550" [responsive]="true">
    <p-header>
        Productos Cover
    </p-header><br>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
            <label for="cardNumber1" class="cols-sm-2 control-label">Numero de tarjeta</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                    <input class="form-control" [(ngModel)]="cardNumberC" (ngModelChange)="onChangeC($event)" (click)="$event.target.select()"
                        type="text" name="cardNumber1" id="cardNumber1" placeholder="Numero de tarjeta de consumo" style="z-index: 1;"
                        tabindex="1" maxlength="9" onkeypress='return event.charCode === 241 || event.charCode >= 48 && event.charCode <= 57 || event.charCode === 95 || event.charCode === 209'>
                    <span class="input-group-addon" id="basic-addon11"><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span class="input-group-addon" id="basic-addon22"><i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
            <p-listbox [options]="productosV" [(ngModel)]="selectedProdCover" multiple="multiple" checkbox="checkbox" [style]="{'text-align':'left','max-height':'200px','height':'100px','width':'100%'}">
                <ng-template let-car pTemplate="item">
                    {{car.producto.nombre}}
                    <span class="badge" style="margin-top: -2.5px">{{car.cantidad}}u</span>
                    <span class="badge" style="margin-top: -2.5px">{{ car.producto.contenido}}ml</span>
                </ng-template>
            </p-listbox>
        </div>

        <div class="ui-g-12 ui-xl-12 ui-lg-12 ui-md-12 ui-sm-12">
            <div class="ui-message ui-messages-warn ui-corner-all" *ngIf="flagShowAlert">
                <i class="fa fa-exclamation-circle"></i>&nbsp;Advertencia: No existen productos asociados al cover.
            </div>
        </div>

    </div>
    <hr>
    <div style="text-align: center">
        <button class="btn btn-primary" style="font-size: 11px; width: 25%;" (click)="insertProdCover()" [disabled]="flagShowAlert">Confirmar</button>
        <button class="btn btn-default" style="font-size: 11px; width: 25%;" (click)="showProdCover=false">Salir</button>
    </div>
</p-dialog>