<h2 class="page-header">Ventas</h2>
<!--left DIV-->
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div (click)="$event.preventDefault()">
        <tabset [justified]="true">
            <tab *ngFor="let tabz of tabs; let i = index" [heading]="tabz.title" (select)="loadLogos(i)">
                <hr>
                <h3 style="text-align: center">{{tabz.title}}</h3>
                <hr>
                <!--<div *ngFor="let path of pathsType; let i = index">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <div class="example-tooltip-host" mdTooltip={{path.nombre}} [mdTooltipPosition]="position">
                            <img src={{path.path}} (dblclick)="eventEmitDoubleClick($event,i)"/>
                        </div>
                    </div>
                </div>-->
                <p-dataGrid [value]="pathsType" [paginator]="true" [rows]="16">
                    <ng-template let-prod let-i="index" pTemplate="item">
                        <div class="ui-g-12 ui-md-3">
                            <p-panel [header]="prod.nombre" [style]="{'text-align':'center'}">
                                <img src={{prod.path}} (dblclick)="eventEmitDoubleClick($event,i)" width="80" />
                                <hr class="ui-widget-content" style="border-top:0;">
                                <i class="fa fa-search" (click)="selectProduct(prod)" style="cursor:pointer"></i>
                            </p-panel>
                        </div>
                    </ng-template>
                </p-dataGrid>
            </tab>
        </tabset>
    </div>
</div>
<!--right DIV-->
<div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12">
    <form class="form-inline">
        <h4 style="text-align: center">Productos Seleccionados</h4>
    </form>
    <br>
    <div *ngIf="!flagProdSeleccionados">
        <li class="list-group-item">
            <p>Doble click en logotipo para añadir productos.</p>
        </li>
        <br>
    </div>
    <nav>
        <ul class="list-group" *ngIf="flagProdSeleccionados">
            <li class="list-group-item" *ngFor="let item of selectedProductos; let i = index">
                <form class="form-inline">
                    <label style="display: inline-block"> {{item.nombre}}</label>
                    <span style="display: inline-block" (click)="addProd(i)" class="input-group-addon input-sm" style="width: 20px">
                    <i class="fa fa-plus" aria-hidden="true"></i></span>
                    <span style="display: inline-block" (click)="lessProd(i)" class="input-group-addon input-sm" style="width: 20px">
                    <i class="fa fa-minus" aria-hidden="true"></i></span>
                    <span style="display: inline-block" class="input-group-addon input-sm" style="width: 20px">
                    <font size="5">{{item.cantidad}}</font></span>
                </form>
            </li>
        </ul>
    </nav>
    <button *ngIf="flagProdSeleccionados" (click)="showDialogConfirmar = !showDialogConfirmar;" class="btn btn-primary" style="width: 100%">Confirmar</button>
</div>
<!--Control venta(Cajero & tarjeta)-->
<app-dialog [(visible)]="showDialogConfirmar" (visibleChange)="change($event)" #dialog="dialog">
    <h3 style="text-align: center">
        Confirmacion de venta
    </h3>
    <hr>
    <flash-messages></flash-messages>
    <!-- Validacion Tarjeta -->
    <div class="form-group col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <label for="cardNumber" class="cols-sm-2 control-label">Numero de tarjeta</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                <input [(ngModel)]="cardNumber" (ngModelChange)="onChange($event)" (click)="$event.target.select()" type="text" class="form-control"
                    name="cardNumber" id="cardNumber" placeholder="Codigo unico de tarjeta" />
                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-check" aria-hidden="true"></i></span>
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <!-- Control cajero -->
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
            <label>Control mesero</label>
        </div>
        <div class="col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
            <select class="form-control">
                    <option value="" disabled selected hidden>Selecciona...</option>
                    <option *ngFor="let c of listMeseros">{{c.nombres}}</option>
            </select>
        </div>
        <div class="col-sm-5 col-xs-5">
            <input [(ngModel)]="password" type="password" class="form-control" name="password" id="password" placeholder="Ingresa tu clave de usuario">
            <br>
        </div>
    </div>
    <!-- Button -->
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
        <button class="btn btn-primary" style="width: 25%">Confirmar</button>
        <button class="btn btn-default" (click)="showDialogConfirmar = !showDialogConfirmar" style="width: 25%">Cancelar</button>
    </div>
</app-dialog>

<p-dialog header="Detalle Producto" [(visible)]="displayDialog" [responsive]="true" [modal]="true" width="300" (onAfterHide)="onDialogHide()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedProd" style="font-size:16px;text-align:center;padding:20px">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12" style="text-align:center"><img src="{{selectedProd.path}}" width="80"></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Nombre: </div>
            <div class="ui-grid-col-8">{{selectedProd.nombre}}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Precio: </div>
            <div class="ui-grid-col-8">${{selectedProd.precio_unitario}}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Cantidad Existente: </div>
            <div class="ui-grid-col-8">{{selectedProd.cant_existente}}</div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">Promocion Activa: </div>
            <div class="ui-grid-col-8">
                <p-toggleButton [(ngModel)]="checked" onLabel="Si" offLabel="No" onIcon="fa-check" offIcon="fa-times" disabled="true"></p-toggleButton>
            </div>
        </div>
    </div>
</p-dialog>