<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header" style="padding: 0; margin-top: 20px">
  <div class="col-lg-6" style="padding: 0">
    <h2>Configuraciones Generales</h2>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="col-lg-4 col-md-6 col-sm-6"><br>
        <label>Nro. Personas por Tarjeta</label>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input type="text" pInputText class="form-control" [(ngModel)]="nombres" (ngModelChange)="onChangeNombres($event)" id="nombres"
            name="nombres" aria-describedby="basic-addon4" style="z-index: 1" placeholder="Nombres de usuario" (click)="$event.target.select()"
            onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
                        event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            tooltip="Solo se permiten LETRAS." tooltipPlacement="bottom">
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6"><br>
        <label>Limite de Consumo por Defecto</label>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input type="text" pInputText class="form-control" [(ngModel)]="nombres" (ngModelChange)="onChangeNombres($event)" id="nombres"
            name="nombres" aria-describedby="basic-addon4" style="z-index: 1" placeholder="Nombres de usuario" (click)="$event.target.select()"
            onkeypress='return event.charCode >= 97 && event.charCode <= 122 || 
                        event.charCode === 241 || event.charCode === 32 || event.charCode === 209 || event.charCode >= 65 && event.charCode <= 90'
            tooltip="Solo se permiten LETRAS." tooltipPlacement="bottom">
        </div>
      </div>

      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12" style="text-align: center"><br><br>
        <button (click)="onLoginSubmit()" class="btn btn-primary btn-block" [disabled]="!flagShowSuccess"> Actualizar</button>
      </div>

    </div>
  </div>
</div>