  :host /deep/ .ui-dialog-titlebar{
    font-size: 18px;
    text-align: center;
    z-index: 1;
  }
  /*Focus con orange*/
  /*:host /deep/ .form-control:focus {
    border-color: orange;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, 0.6);
  }*/

  /* Focus con blue ==> default bootstrap*/
  :host /deep/ .form-control:focus{
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, .6);
    outline: 0 none;
  }

  :host /deep/ .ng2-smart-filter input{
    height: 35px;
    text-align: center;
  }
  :host /deep/ .ng2-smart-filter select{
    text-align: center;
  }

  :host /deep/ .okCancel{
    font-size: 11px; 
    margin-top: 5px;
    margin-bottom: 5px;
  }