<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ManagerBox</a>
      <!--<a class="navbar-left" href="#" style="font-size: 8px; color: #3E3F3A">ManagerBox</a>
      <a href="#"><img class="center-block" src="assets/img/ManagerBox1.svg" style="max-width: 25%; max-height: 25%;"></a>-->
    </div>
    <div id="navbar1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/administracion']">Administrar</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/personal']">Personal</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/card']">Atencion</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/facturacion']">Ventas</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/clientes']">Clientes</a></li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/inventario']">Reportes</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="authService.loggedIn()"><a (click)="onLogOutClick()" href="#">Logout</a></li>
      </ul>

    </div>
    <!--/.nav-collapse -->
  </div>
</nav>