:host /deep/ .ng2-smart-filter input{
  height: 35px;
  text-align: center;
}
:host /deep/ .ng2-smart-filter select{
  text-align: center;
}
:host /deep/ .ui-dialog-titlebar{
  font-size: 18px;
  text-align: center;
}