:host /deep/ ng2-smart-table .table > thead > tr > th {
  text-align: center;
  font-size: 12px;
}
:host /deep/ ng2-smart-table .table > tbody > tr > td {
  text-align: center;
  font-size: 12px;
}
:host /deep/ ng2-smart-table .input{
  height: 100%;
  text-align: center;
  font-size: 12px;
}
:host /deep/ .input{
  height: 100%;
  text-align: center;
  font-size: 12px;
}
:host /deep/ ng2-smart-table thead > tr > th { background-color: white; }
