:host /deep/ .ng2-smart-filter input{
  height: 35px;
  text-align: center;
}
:host /deep/ .ng2-smart-filter select{
  text-align: center;
}
:host /deep/ .ui-dialog-titlebar{
  font-size: 18px;
  text-align: center;
}
.example-radio-button {
  margin-top : 5px;
  margin-left : 18px;
}

#addIcon {
  color: #2196F3;
  cursor: pointer;
}