$table-font-color: #606c71;
$table-border-color: #e9ebec;

:host{
   /deep/ { 
       *{
       font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;    
       }

       table{
        color: $table-font-color;  
        tr {
            td,th{
               border: 1px solid $table-border-color; 
            }
        }
       }
   }
}

:host {
  .ng2-smart-filter {
    /deep/ {
      input,
      select {
          height: 100%;
  text-align: center;
  font-size: 12px;
      }
      input[type="search"] {
        box-sizing: inherit;
      }
      .completer-dropdown-holder {
        font-weight: normal;
      }
      a {
        font-weight: normal;
      }
    }
  }
}