<h2 class="page-header">Administración</h2>
<div (click)="$event.preventDefault()">
  <tabset [justified]="true">
    <tab heading="Cover">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <h3 style="text-align: center">Gestión de Covers</h3>
            <hr>
          </div>
    </tab>
    <tab heading="Tarjetas">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <h3 style="text-align: center">Gestión de Tarjetas</h3>
            <hr>
          </div>
    </tab>
    <tab heading="Corte de caja">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <hr>
            <h3 style="text-align: center">Corte de Caja</h3>
            <hr>
          </div>
    </tab>
  </tabset>
</div>